.vscode/settings.json
full_changes.txt
docs/Milestone_2/Milestone2_highlighted.pdf
docs/Milestone_2/Milestone2.pdf
docs/Milestone_2/__pycache__/changes.cpython-313.pyc
docs/Milestone_2/Milestone-2.pdf
